.odd {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: red;
}

#n2 {
    color: blue;
    font-size: 36px;
}

.cool {
    font-size: 24px;
}

#n4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}