body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}
ul{
  list-style-type: none;
  padding: 0;
  margin:0;
}
li{
  margin: 0;
  padding-bottom: 16px ;
}
a{
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.header {
  display:flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 0px 16px;
  align-items: center;
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  padding:16px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width:300px;
  flex:auto;
}
.main{
  display: flex;
  flex:1;
}
.hoc{
  display:flex;
  gap:32px;
  padding:48px;
  flex-wrap: wrap;
}